@charset "utf-8";
ul#introduce {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: center;
}
ul li {
	list-style-type: none;
}
ul#introduce li {
	display: inline;
	float: left;
	padding-right: auto;
	padding-left: auto;
}
