<nav class="container-fluid">
  <div class="row">
    <ul class="pager">
      <li class="previous" ng-class={"disabled":!previousSeason}><a ng-href="{{previousSeason}}">&larr; Previous Season</a></li>
      <li><a href="#/season_calendar">シーズン：{{currentSeason}}</a></li>
      <li class="next" ng-class={"disabled":!nextSeason}><a ng-href="{{nextSeason}}">Next Season &rarr;</a></li>
    </ul>
  </div>
</nav>
<hr>
<article class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="input-group pull-left" style="width:100%;">
          <input type="text" class="form-control" placeholder="タイトルを入力して絞り込めます" ng-model="filter.title">
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn-group pull-right">
        <button class="btn btn-default btn-sm dropdown-toggle sort-button pull-right" type="button" data-toggle="dropdown">
          Sort<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="sortTitle()">Title</a></li>
          <li><a href="" ng-click="sortPoint()">SNS Point</a></li>
        </ul>
      </div>
    </div>
  </div>
  <ul id="anime_list" class="row">
    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="anime in animes | filter:filter">
      <div class="panel panel-primary">
        <div class="panel-heading" style="height:55px;">
          <a href="" ng-click="open(anime)"><h3 class="panel-title text-center" style="color:white;">{{anime.getTitle()}}</h3></a>
        </div>
        <div class="panel-body">
          <a href="" ng-click="open(anime)" target="_blank"><img title="{{anime.getTitle()}}" ng-src="{{anime.getThumbnailURL()}}" width="200" height="200"/></a>
        </div>
        <div class="panel-footer text-center">
          <a href="" ng-click="open(anime)">SNS Point : {{anime.getSnsPoint()}}</a>
        </div>
      </div>
    </li>
  </ul>
</article>
<hr>
<nav class="container-fluid">
  <div class="row">
    <ul class="pager">
      <li class="previous" ng-class={"disabled":!previousSeason}><a ng-href="{{previousSeason}}">&larr; Previous Season</a></li>
      <li><a href="#/season_calendar">シーズン：{{currentSeason}}</a></li>
      <li class="next" ng-class={"disabled":!nextSeason}><a ng-href="{{nextSeason}}">Next Season &rarr;</a></li>
    </ul>
  </div>
</nav>