<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>アニメラインナップ</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet" type="text/css">
  </head>
  <body id="index_body" ng-app="myApp" ng-init="targetOfPartial = 'anime_list'">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
          return;
        js = d.createElement(s);
        js.id = id;
        js.src = "http://connect.facebook.net/ja_JP/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <nav class="navbar navbar-static-top navbar-blue">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button"></button>
          <a class="navbar-brand" href="#">アニメラインナップ</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About</a></li>
            <li><a href="#/season_calendar">Seasons</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" placeholder="Title" class="form-control" ng-model="searchWord.title">
          </form>
        </div>
      </div>
    </nav>
    <div ng-show="searchWord.title.length > 2" class="container-fluid" style="background: #E8E8E8" ng-controller="animeSearchController">
      <a class="search-close" ng-click="hideResults()" href="">
        <span class="glyphicon glyphicon-remove search-close-icon"></span> Close
      </a>
      <div>
        <ul class="list-group">
          <li ng-repeat="anime in animes | filter:searchWord" class="list-group-item">
            {{anime.title}}
            <a ng-href="#/{{anime.year}}/{{anime.season}}"><span class="badge" style="background: {{anime.season | seasonColor}}">{{anime.year}} {{anime.season}}</span></a>
            <span class="badge">{{anime.snsPoint}}</span>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div ng-view></div>
    <footer>
      <hr>
      <div class="container">
        <div>
          <ul>
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
              <script>!function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                  if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                  }
                }(document, 'script', 'twitter-wjs');</script>
            </li>
            <li><div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></li>
          </ul>
        </div>
        <p class="credit">各期ごとのアニメのラインナップと簡易的な人気度の指標を表したwebサービスです。<br>
          Copyright &copy; 2014 tsukaby.com all rights reserved.</p>
      </div>
    </footer>
    <script src="lib/jquery-2.1.0.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
  </body>
</html>
