<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>アニメラインナップ</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body id="index_body" ng-app="animeLineupApp" ng-init="targetOfPartial = 'anime_list'">
    <nav class="navbar navbar-static-top navbar-blue navbar-settings" ng-controller="AnimeSearchCtrl">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button"></button>
          <a class="navbar-brand" href="/">アニメラインナップ</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <form class="navbar-form navbar-right" style="width:300px" ng-submit="blurSearchBox(); searchByTitle(SearchWordValue.title);">
                <div class="input-group">
                  <input id="search_box" type="text" placeholder="Title" class="form-control" ng-model="SearchWordValue.title">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="blurSearchBox(); searchByTitle(SearchWordValue.title);"><i class="glyphicon glyphicon-search"></i></button>
                  </span>
                </div>
              </form>
            </li>
            <li ng-class="{active: isActive(item.link)}"><a href="/help">Help</a></li>
            <li ng-class="{active: isActive(item.link)}"><a href="/season_calendar">Seasons</a></li>
            <li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
            <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div ng-view></div>
    <footer>
      <hr>
      <div class="container">
        <div>
          <ul>
            <li>
              <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            </li>
          </ul>
        </div>
        <p class="credit">各期ごとのアニメの一覧をサムネイル付きで閲覧できるサービスです。<br>
          Copyright &copy; 2014 tsukaby.com all rights reserved.</p>
      </div>
    </footer>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43672969-2', 'tsukaby.com');
      ga('send', 'pageview');
    </script>

    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/modal_instance.js"></script>
    <script src="scripts/controllers/anime_list.js"></script>
    <script src="scripts/controllers/anime_search.js"></script>
    <script src="scripts/controllers/season.js"></script>
    <script src="scripts/controllers/register_anime.js"></script>
    <script src="scripts/controllers/help.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/services/search_word_value.js"></script>
    <script src="scripts/services/season_factory.js"></script>
    <script src="scripts/services/anime_search_service.js"></script>
    <script src="scripts/services/animes_value.js"></script>
    <script src="scripts/services/season_constant.js"></script>
    <script src="scripts/services/navigation_service.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/services/session.js"></script>
    <script src="scripts/filters/season_color.js"></script>
    <!-- endbuild -->
  </body>
</html>
